.venv/
venv/
env/

build/
dist/

__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/
*.iml

app.ico
stalzone-database-slim/
stalzone-database-FULL/

prices.json
sale_prices.json
skills.json
notes.txt
icons/

.DS_Store
Thumbs.db
desktop.ini